:root {
    --bg:  #ffffff;
    --bg-accent: rgba(72, 74, 77, 0.267);
    --text-color: #1b1b1b;
    --nav-size: 60px;
    --border-radius: 8px;
    --speed: 0.3s; 
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: var(--text-color);
    text-decoration: none;;
  }
  
  /* Top Navigation Bar */
  
  /* <nav> */
  .navbar {
    height: var(--nav-size);
    background-color: var(--bg);
    padding: 0 1rem;
    border-bottom: var(--border);
  }
  
  /* <ul> */
  .navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  /* <li> */
  .nav-item {
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Icon Button */
  .icon-button {
    --button-size: calc(var(--nav-size) * 0.5);
    width: var(--button-size);
    height: var(--button-size);
    background-color:#f6f6f6;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
  }
  
  .icon-button svg, .icon-left svg { 
    stroke: var(--text-color);
    height: 24px;
  }
  
  
  /* Dropdown Menu */
  
  .menu {
    width: 276px;
  }
  
  .menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
    font-size: 15px;
    user-select: none;
  }
  
  .menu-item .icon-button {
    margin-right: 0.5rem;
  }

  .menu-item:not(.no-hov):hover, .menu-item.no-hov:hover > .icon-left  {
    background-color: #0000000d;
  }

  .menu-item:not(.no-hov):active, .menu-item.no-hov:active > .icon-left {
    background-color: #0000001f;
  }
  
  .icon-right {
    margin-left: auto;
    display: flex;
  }

  .icon-left {
    display: flex;
    width: 34px;
    height: 34px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    transition: background var(--speed);
    border-radius: 6px;
  }

  .dropdown-seperator {
    width: 100%;
    height: 1px;
    background-color: #ededed;
    margin: 6px 0;
  }
  
  /* CSSTransition classes  */
  .menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
  }
  .menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-primary-exit {
    position: absolute;
  }
  .menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }
  
  
  .menu-secondary-enter {
    transform: translateX(110%);
  }
  .menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-secondary-exit {
  
  }
  .menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
  }