@keyframes slideup {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

body {
    background-color: #f9f9f9;
    scroll-behavior: smooth;
}

* [dot-slideup="true"] {
    animation-delay: attr(dot-slideup-delay);
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
    animation-name: slideup;
    animation-fill-mode: forwards;
}