.legal-content {
    text-align: left;
    max-width: 900px;
}

.legal-content > main {
    font-size: 15px;
    max-width: 900px;
    padding: 0 15px;
}

.legal-content a {
    color: #0070F3;
}

.legal-content a:hover {
    color: #0070F3;
    text-decoration: underline;
}

.legal-content p {
	max-width: inherit !important;
	font-size: 15px !important;
	text-align: left;
    margin-bottom: 14px;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.legal-content li {
	margin-bottom: calc(0.45rem / 2) !important;
}

.legal-content h1, h2, h3, h4 {
    margin-top: 1.45rem !important;
}

.legal-content blockquote {
    border-left: 5px solid #00000042;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.legal-content blockquote > p {
    margin-left: 1.45rem;
}